body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.MuiButton-root {
  color: #000000 !important;
  border-color: #000000 !important;
}
.MuiButton-contained {
  background-color: #000000 !important;
  color: #ffffff !important;
}

[data-mui-color-scheme="dark"] .MuiButton-outlined:not(.InboxSelectorButton) {
  color: white !important;
  border-color: white !important;
}

[data-mui-color-scheme="dark"] .MuiButton-contained:not(.InboxSelectorButton) {
  background-color: white !important;
  color: black !important;
}

[data-mui-color-scheme="light"] .MuiButton-outlined:not(.InboxSelectorButton) {
  color: black !important;
  border-color: black !important;
}

[data-mui-color-scheme="light"] .MuiButton-contained:not(.InboxSelectorButton) {
  background-color: black !important;
  color: white !important;
}